<div class="flex flex-column">
    <div class="flex align-items-center justify-content-end p-4">
        <p-button label="Create" icon="pi pi-plus" class="mx-2" (onClick)="selectedBook = {}; isOpenedBookActions = true" />
        <p-button label="Edit" icon="pi pi-pencil" class="mx-2" [disabled]="!selectedBook || !selectedBook.id"
            (onClick)="isOpenedBookActions = true" />
        <p-button label="Delete" icon="pi pi-trash" class="mx-2" [disabled]="!selectedBook || !selectedBook.id" 
        (onClick)="deleteBook()"/>
    </div>
    <app-book-list></app-book-list>
</div>

@if (isOpenedBookActions) {
<p-dialog header="{{!selectedBook || !selectedBook.id ? 'Create' : 'Edit'}} Book" [modal]="true" (visibleChange)="closeBookActions()" [(visible)]="isOpenedBookActions">
    <app-book-actions [selectedBook]="selectedBook" (close)="closeBookActions()"></app-book-actions>
</p-dialog>
}

<p-confirmDialog header="Delete Book" icon="fa fa-exclamation-triangle" width="425"></p-confirmDialog>